.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}

.fa {
  padding: 20px;
  margin: 5px 2px;
}

.fa:hover{
  opacity: 0.75;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #464b51;
}
