<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>Point Park University</h2>
      <p class="lead">Bachelor's of Science in Information Technology</p>
      <p class="lead">Attended from 08/2015 - 04/2019</p>
      <p class="lead">Overal GPA: 3.1</p>
      <p class="lead">Curriculum GPA: 3.8</p>
    </div>
    <div class="col-md">
      <ul class="list-group">Courses Studied:
        <li class="list-group-item border-0">Databases</li>
        <li class="list-group-item border-0">Networking and Security</li>
        <li class="list-group-item border-0">Intro to Programming</li>
        <li class="list-group-item border-0">Business Analytics</li>
        <li class="list-group-item border-0">Data Structures</li>
        <li class="list-group-item border-0">Advanced Programming</li>
        <li class="list-group-item border-0">Digital Security</li>
        <li class="list-group-item border-0">Sever Management</li>
        <li class="list-group-item border-0">Web Development Applications</li>
        <li class="list-group-item border-0">Advanced Networking</li>
        <li class="list-group-item border-0">Mobile Application Development</li>
        <li class="list-group-item border-0">Senior Project</li>
      </ul>
    </div>
  </div>
</div>
