<div class="jumbotron text-center">
  <h1>Welcome To My Website!</h1>
  <p class="lead">In order to view my personal info Log in or Register an account.</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-secondary" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Education</h3>
    <p>Learn more about my education and background.</p>
  </div>

  <div class="col-md-4">
    <h3>Work Experience</h3>
    <p>View my work and intership experiences.</p>
  </div>

  <div class="col-md-4">
    <h3>Personal Projects</h3>
    <p>Applications I have created. This highlights programming languages I am proficient in.</p>
  </div>
</div>
