<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3>Tutor</h3>
      <p class="lead">Point Park University</p>
      <p>From 10/2018 - 05/2019</p>
      <!-- ... -->
      <!-- Add Job Descriptions -->
    </div>
    <div class="col-sm">
      <h3>Business Analyst</h3>
      <p class="lead">Reading Hospital Tower Health</p>
      <p>From 05/2018 - 08/2018</p>
      <!-- ... -->
      <!-- Add Job Descriptions -->
    </div>
    <div class="col-sm">
      <h3>Jr. Web Developer</h3>
      <p class="lead"> Target Freight Management</p>
      <p>From 05/2017 - 08/2017</p>
      <!-- ... -->
      <!-- Add Job Descriptions -->      
    </div>
  </div>
</div>
